.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Top-Half {
  background-image: url("/src/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  margin: 15px;
}

.Top-Half header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

h1 {
  color: white;
  text-align: left;
  padding-top: 20px;
  font-size: 50px;
}

h5 {
  color: white;
  text-align: left;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(53, 65, 100);
  text-align: center;
  background-color: white;
  border-radius: 6px;
  width: 120px;
  height: 50px;
}
.Button {
  padding-bottom: 30px;
}

/* 
BOTTOM HALF 
*/
.Four-Icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
}

.Four-Icons img {
  height: 100px;
  margin-left: -10px;
}

.Each-Icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
}
